body {
    font-family: Helvetica, sans-serif;
}

.add_entry, .entry {
    border: 0.1em solid black;
    border-radius: 1em;
    padding: 1em;
    margin-block: 0.4em;
}

form div {
    display: flex;
    flex-direction: column;
}